/BootStrapper/obj
/BootStrapper/bin
/ClassLibrary1/obj
/ClassLibrary1/bin
/Interface/obj
/Interface/bin
/MvcApplication1/obj
/MvcApplication1/bin
/UnitTestProject1/obj
/UnitTestProject1/bin
/WindowsFormsApplication1/obj
/WindowsFormsApplication1/bin
/WpfApplication/obj
/WpfApplication/bin
